<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">-->
  <!--<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-notify.min.css">-->
  <!--<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-combined.min.css">-->
  <!--<link rel="stylesheet" type="text/css" href="../static/css/main.css">-->
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-notify.min.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-combined.min.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
</head>
<body>
<header id="header" class="header">
  <nav class="navbar navbar-default">
    <div class="col-md-3 col-sm-6 col-xs-6">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Регион: Новосибирск и область <b
            class="caret"></b></a>
          <ul class="dropdown-menu regions">
            {% for region in regions %}
            <li><a href="#">{{ region }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="menu__item">
          <a href="#">{{ username }}</a>
        </li>
        <li class="menu__item">
          <a href="#">Выход</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="wrapper container">
  <div class="row">
    {% block content %}
    {% endblock %}
  </div>
</div>
<script src="{{ STATIC_URL }}js/jquery-3.1.1.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-notify.min.js"></script>
<script src="{{ STATIC_URL }}js/main.js"></script>
<!--<script src="../static/js/jquery-3.1.1.min.js"></script>-->
<!--<script src="../static/js/bootstrap.min.js"></script>-->
<!--<script src="../static/js/bootstrap-notify.min.js"></script>-->
<!--<script src="../static/js/main.js"></script>-->
<!-- template bellow is used in main.js -->
<script type="text/template" id="popup-template">
  <div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">
    <button type="button" aria-hidden="true" class="close" data-notify="dismiss"></button>
    <span data-notify="icon"></span>
    <span data-notify="title">Ваш регион: <b>{1}</b></span>
    <div class="text-center"><span data-notify="message">{2}</span></div>
    <div class="text-center">
      <a class="btn btn-info btn-sm" data-notify="dismiss">Да</a>
      <span>&nbsp;</span>
      <a class="btn btn-info btn-sm" data-notify="dismiss" id="button_error_location">Нет</a>
    </div>
  </div>
</script>
</body>
</html>