<title>{{ title }}</title>
<div class="breadcrumb">
  <div class="col-md-2 col-md-offset-1 logo">
    <a href="index.html"><span class="glyphicon glyphicon-home"></span>Логотип</a>
  </div>
  <div class="col-md-8 text-left">
    <ol class="breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><a href="catalog.html">Каталог организаций</a></li>
      <li><a href="#">ЖБИ</a></li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-9 col-md-offset-2"><h1>Производители и оптовые компании в Новосибирске и области</h1></div>
  <div class="col-md-3 col-md-offset-2"><h4>ЖБИ</h4></div>
</div>
