<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="title">
          <h1>Вы поставщик?</h1>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <p>Для доступа к телефонам покупателей заполните форму или позвоните нам <span class="text-nowrap">+7 999 888-77-66</span>
      </p><br>
      <p>Текст с дополнительной информацией по условиям сотрудничества.</p>
      <p>Возможно стоит вынести его на отдельную страницу.</p>
      <p>Текст с дополнительной информацией по условиям сотрудничества.</p>
      <p>Возможно стоит вынести его на отдельную страницу.</p>
    </div>
    <div class="col-md-6">
      <form class="form-horizontal">
        <div class="form-group text-center">
          <label class="control col-md-3" for="organisation">Организаия</label>
          <div class="col-md-7">
            <textarea class="form-control" id="organisation" rows="3"></textarea>
          </div>
        </div>

        <div class="form-group text-center">
          <label class="control col-md-3" for="phone">Телефон</label>
          <div class="col-md-7">
            <input class="form-control" id="phone" placeholder="Номер телефона">
          </div>
        </div>
        <div class="form-group text-center">
          <label class="control col-md-3" for="email">Email</label>
          <div class="col-md-7">
            <input class="form-control" id="email" placeholder="user@example.com">
          </div>
        </div>
        <div class="form-group text-center">
          <label class="control col-md-3" for="name">Имя</label>
          <div class="col-md-7">
            <input class="form-control" id="name" placeholder="Ваше имя">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-3 col-md-offset-3">
            <button class="btn btn-default text-uppercase" type="submit">Отправить информацию</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
