<title>{{ title }}</title>
<div class="breadcrumb">
  <div class="col-md-2 col-md-offset-1 logo">
    <a href="index.html"><span class="glyphicon glyphicon-home"></span>Логотип</a>
  </div>
  <div class="col-md-8 text-left">
    <ol class="breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><a href="index.html">Каталог организаций</a></li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <div class="col-md-4 col-md-offset-3">
      <img class="image" src="../static/img/envelop.png" alt="ЖБИ">
      <a href="#">ЖБИ</a>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <img class="image" src="../static/img/envelop.png" alt="Кирпич, газобетон, брус">
      <a href="#">Кирпич, газобетон, брус</a>
    </div>
    <div class="col-md-4 col-md-offset-3">
      <img class="image" src="../static/img/envelop.png" alt="Что-то еще">
      <a href="#">Что-то еще</a>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <img class="image" src="../static/img/envelop.png" alt="Что-то еще">
      <a href="#">Что-то еще</a>
    </div>
  </div>
  <div class="col-md-9 col-md-offset-2">
    <div class="col-md-10"><h1>Все производители и оптовые компании</h1></div>
    {% for item in range(items) %}
    <div class="col-md-9 company-info">
      <div class="col-md-2 text-center">
        <span class="glyphicon glyphicon-home"></span>
      </div>
      <div class="col-md-8">
        <h4>{{ company }}</h4>
        <p>{{ working_place }}</p>
        <p>{{ production }}</p>
        <p>{{ address }}</p>
        <p>{{ phone }}</p>
      </div>

    </div>
    {% if item < 1%}
    <div class="col-md-2">
      <button type="submit" class="btn btn-default">Оставить заявку</button>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="col-md-4 col-md-offset-4 text-center">
    <nav aria-label="Все заявки">
      <ul class="pagination">
        <li><a href="#"> &lt; </a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">..</a></li>
        <li><a href="#">10</a></li>
        <li><a href="#"> &gt; </a></li>
      </ul>
    </nav>
  </div>

</div>
<div class="col-md-2 col-md-offset-2">
  <a href="requests.html">Оставить заявку</a>
</div>
<div class="row">
</div>
